@media screen and (max-width: 767px) {
  .YearContainer .mainHeading {
    margin: 1rem;
  }
  .YearContainer .mainHeading-forgot {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .YearContainer .carInfo {
    font-size: 14px;
    color: #000000;
    margin: 10px;
  }
  .YearContainer .YearDiv {
    width: 270px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    margin: 0.8rem 0rem 0rem 0rem;
  }
  .YearContainer .YearDiv .year {
    font-size: 14px;
    color: #000000;
    padding-top: 1rem;
  }
  .YearContainer .YearDiv:active {
    border: 1px solid #0da176;
  }
  .YearContainer .YearDiv:active .year {
    color: #0da176;
  }
}
