.age-details-parent-div-input-form-health .tab-3-table {
    margin-left: -15px;
    margin-right: -15px;
}
.age-details-parent-div-input-form-health .tab-3-table table tr th {
    padding: 10px 0px;
    font-size: 10px;
    font-family: Source Sans Pro;
}
.age-details-parent-div-input-form-health .tab-3-table table tr th {
    border-radius: 0px;
}