.select-pathlab .select-pathlab-heading {
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.select-pathlab .notify {
  font-family: Nunito;
  font-size: 10px;
  text-align: left;
  color: #ea0b4b;
  margin: 5px 0px;
}
.select-pathlab .insurer-row {
  margin-top: 22px;
}
.select-pathlab .pathology-near-you {
  font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-top: 37px;
}
.select-pathlab .pathlab-checkbox {
  padding: 0px 0px 0px 19px;
}
.select-pathlab .pathlab-name {
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
.select-pathlab .address {
  font-family: Nunito;
  font-size: 14px;
  color: #808080;
  margin: 10px 0px;
  word-break: break-all;
}
.select-pathlab .contact {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  color: #000000;
  margin: 10px 0px;
}
.select-pathlab .card-column {
  padding-left: 10px;
}
.select-pathlab .submit-button-div {
  margin-top: 1rem;
}
.select-pathlab .submit-button-1 {
  margin-top: 17px;
}
.select-pathlab .button-div {
  display: inline;
}
@media screen and (max-width: 767px) {
  .select-pathlab {
    overflow-x: hidden;
  }
  .select-pathlab .pathlab-checkbox {
    padding: 0px 0px 0px 7px;
  }
  .select-pathlab .card-column {
    padding-left: 15px;
  }
  .select-pathlab .cancel-button {
    margin-top: 1rem;
  }
  .select-pathlab .address {
    font-size: 12px;
  }
  .select-pathlab .tab-row {
    padding: 0;
  }
}
