.panel-edit-quote-motor-links {
    margin-bottom: 0px;
    padding: 6px;
    margin-top: 1.7rem;
}
.panel-edit-quote-motor-links .padding-left-quote {
  padding-left: 30px;
}

.edit-quote-motor-text-success {
    font-family: Nunito;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #0da176;
  cursor: pointer;
}
.border-left-text-edit-quote-motor {
    border-left: 1px solid rgb(112,112,112, 0.3);
}
.padding-text-edit-quote-motor {
    padding-top: 8px;
}

.heading-body-and-results-text-div {
    padding: 0px;
    margin: 10px 0px;
}
.heading-body-quote-motor {
    font-family: Nunito;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  display: inline;
}
.heading-body-results-text-quote-motor{
    font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0px;
  float: right;
  color: #333333;
  display: inline;
  padding-top: 3px;
}
.premium-filter-dropdown {
  position: relative;
}
.premium-filter-dropdown .dropdown-content-fliter {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
  display: block;
  right: -8rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}
.premium-filter-dropdown .dropdown-content-fliter p{
  cursor: pointer;
  padding: 6px;
}
.premium-filter-dropdown .dropdown-content-fliter p:not(:last-child) {
  border-bottom: 1px solid rgb(128,128,128, 0.5);
}
.premium-filter-dropdown .dropdown-content-fliter p.item {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color:#333333;
  white-space: nowrap;
  margin: 0px;
}
.premium-filter-dropdown .dropdown-content-fliter p.selected{
  color: #9c0f46;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  margin: 0;
}
.premium-filter-dropdown .sort-by-filter-text-div p {
    margin: 0px;
    cursor: pointer;
}
.sort-by-text-quote-motor {
    font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #9c0f46;
  white-space: nowrap;
}
.cover-type-dropdown{
  position: relative;
}
.cover-type-dropdown .label-cover-type-quote-motor {
    font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}

.cover-type-dropdown .cover-type-value-quote-list-motor {
    font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #9c0f46;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cover-type-dropdown .cover-type-value-div-quote-motor p {
    margin: 0px;
    cursor: pointer;
}
.cover-type-dropdown .cover-type-dropdown-menu-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
  display: block;
  margin-top: 0.5rem;
  border-radius: 4px;
  padding: 15px 18px;
  max-width: 280px;
}
.cover-type-dropdown .cover-type-dropdown-menu-content .current-amount{
  text-align: center;
  margin-bottom: -0.7rem;
}
.cover-type-dropdown .cover-type-dropdown-menu-content .minValue{
  display: inline;
}
.cover-type-dropdown .cover-type-dropdown-menu-content .minValue{
  display: inline-block;
  float: right;
}

.fields-header-div-quote-motor .field-item{
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: rgba(128, 128, 128, 0.87);
}
.fields-header-div-quote-motor {
    padding: 12px 0px 4px 0px;
}
.fields-header-div-quote-motor .row {
    margin: 10px 0px;
    border-bottom:  solid 1px #aaaaaa;
    border-top:  solid 1px #aaaaaa;
    padding: 12px 0px 4px 0px;
}
.compr-plans-quote-motor {
    font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.counts-quote-motor {
  font-family: Nunito;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}

.logo-insurer-div-quote-car {
    text-align: center;
}
.insurer-desc-quote-car-heading {
    font-family: Nunito;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.insurer-desc-quote-car-heading-policy{
  font-family: Nunito;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.reviews-insurer-quote-car {
    font-family: Nunito;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.row-insurer-desc-quote-car-div .mui-col-md-3 p {
  text-align: center;
}
.row-insurer-desc-quote-car-div .border-left {
  border-left: 1px solid rgb(112,112,112, 0.3);
}
.row-insurer-desc-quote-car-div .down-padding {
  padding-bottom: 32px;
}
.row-insurer-desc-quote-car-div .down-padding-new {
  padding-bottom: 8px;
}
.row-insurer-desc-quote-car-div .amount-insurer {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 30px;
}

.row-insurer-desc-quote-car-div .percentage-insurer {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 30px;
}

.row-insurer-desc-quote-car-div .garages-insurer {
  font-family: Nunito;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #0da176;
  margin-top: 30px;
}
.row-insurer-desc-quote-car-div .number-garage-insurer {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.row-insurer-desc-quote-car-div .border-left table tr td p {
  font-family: Source Sans Pro;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.row-insurer-desc-quote-car-div .border-left table tr td .success {
  color: #333333;
  white-space: nowrap;
}
.row-insurer-desc-quote-car-div .border-left table tr td .danger {
  white-space: nowrap;
  color: red;
}
.row-insurer-desc-quote-car-div .show-all{
  font-family: Source Sans Pro;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  float: left;
  color: #808080;
}
.panel-car-insurer-plan {
  text-align: center;
  border-radius: 4px !important;
  border: solid 1px #ea0b4b;
  background-color: #ffffff !important;
  padding: 8px 0px 0px 0px;
}
.panel-car-insurer-plan .buy-plain{
  font-family: Nunito;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333;
}
.panel-car-insurer-plan .amount {
  font-family: Nunito;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #333333;
}
.panel-car-insurer-plan .amount span{
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #333333;
}
.plain-details-car-insurer-text {
  font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  float: right;
  color: #0da176;
}

.get-asistance-profile {
  font-family: Nunito;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.text-get-asistance-offline {
  opacity: 0.8;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}

.meet-in-person-quote-car {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333333;
}
.panel-bottom-actions-div {
  background-color: #f6f6f6;
  margin: -15px;
  margin-top: 15px;
  font-size:12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}
.panel-bottom-actions-div p {
  display: inline;
}
.body-content-quote-motor .mui-panel {
  padding-bottom: 0px;
}
.tabs-input-motor-edit {
  padding-top: 2rem;
}
.tabs-input-motor-edit p{
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: inline;
  padding: 30px 90px;
  background: #f4f4f4;
}
.tabs-input-motor-edit p:not(:last-child) {
  border-right: #3a3939 1px solid;
}
.tabs-input-motor-edit p.active-item {
  border-right: 0px;
  background: #ffffff;
}

.tab-1-content .outlined-button {
  text-align: center;
}
.tab-2-content .outlined-button {
  text-align: center;
  margin-top: 4rem;
}
.tab-3-content .outlined-button {
  text-align: center;
  margin-top: 4rem;

}
.tabs-input-motor-edit .edit-div {
  /* style={{display: 'inline', position: 'absolute', top: '50px', left: '100px'}} */
  display: inline;
  position: absolute;
  top: 57px;
  left: 150px;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0da176;
  cursor: pointer;
}
.close-dialog-icon {
  /* style={{position: 'absolute', top: '-5px', right: '-5px'}} */
  position: absolute;
  top: 40px;
  right: 335px;
  z-index: 100000000000;
}
@media screen and (min-width: 981px) {
  
  .cover-type-value-quote-list-motor::after {
    content: url('/assets/ic_keyboard_arrow_down_24px.svg');
    width: 12px;
    display: inline-block;
  }
  
}
@media screen and (max-width: 980px) {
  .cover-type-value-quote-list-motor::before {
    content: url('/assets/ic_keyboard_arrow_down_24px.svg');
    width: 12px;
    display: inline-block;
    float: right;
  }
}

@media screen and (max-width: 767px) {
  .panel-edit-quote-motor-links .padding-left-quote {
    padding-left: 0px;
  }
  .panel-edit-quote-motor-links {
    margin-top: 12px;
  }
  .border-left-text-edit-quote-motor {
    /* border-left: none; */
    /* border-bottom: solid 0.5px rgb(222,222,222, 0.7); */
    
  }
  .padding-text-edit-quote-motor {
    padding-bottom: 4px;
    border-bottom: solid 0.5px rgb(222,222,222, 0.7);
    font-size: 10px;
  }
  .edit-quote-motor-text-success {
    font-size: 10px
  }
  .heading-body-results-text-quote-motor {
    float: left;
  }
  .padding-text-edit-quote-motor-last {
    border-bottom: none; margin-bottom: 0;
  }
  .logo-insurer-div-quote-car .insurer-image {
    width: 100%;
    height: auto;
  }
  .insurer-desc-quote-car-heading {
    font-size: 10px;
    line-height: 0.5;
    margin-bottom: 3px;
  }
  .col-insurer-desc-quote-motor {
    padding: 0px;
  }
  .col-buy-plan-quote-motor {
    padding: 0px;
    padding-right: 5px;
  }
  .insurer-detail-container-quote-motor {
    padding: 0px;
  }
  .panel-car-insurer-plan .buy-plain {
    font-size: 9px;
    line-height: 0.5;
  }
  .panel-car-insurer-plan .amount  {
    font-size: 12px;
    line-height: 0.5;
  }
  .panel-car-insurer-plan .amount  span{
    font-size: 10px;
  }
  .border-sm-row-quote-motor {
    border-bottom: 1px solid rgb(112,112,112, 0.3);
  }
  .col-buy-plan-quote-motor {
    margin-bottom: -12px;
  }
  .sm-amount-insurer-car-quote {
    font-family: Nunito;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 25px
  }
  .sm-percent-insurer-car-quote {
    font-family: Nunito;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 16px;
  }
  .sm-no-garage-insurer-car-quote{
    font-family: Nunito;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 25px;
  }
  .sm-garage-text-insurer-car-quote {
    font-family: Nunito;
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #0da176;
  }
  .panel-bottom-actions-div p {
    font-family: Source Sans Pro;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #808080;
  }
  .tabs-input-motor-edit p {
    padding: 10px 43px 10px 30px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 600;
    line-break: loose;
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
    display: inline-flex;

  }
  .tabs-input-motor-edit {
    padding-top: 0px;
    margin-top: 0rem;
    width: 100%;
  }
  .tab-2-content .outlined-button {
    text-align: center;
    margin-top: 1rem;
  }
  .tab-3-content .outlined-button {
    text-align: center;
    margin-top: 1rem;
  }
  .edit-details-heading-dialog {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 1rem;
    vertical-align: middle;
  }
}