.complaints-grieviences {
  overflow-x: hidden;
  /* text-align: right; */
}
.complaints-grieviences .connect-container {
  padding: 0px;
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column {
  border-left: solid 4px #808080;
  padding: 0;
  
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column .connect-with-us-container-image {
  position: relative;
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column .connect-with-us-container-image .connect-with-us-image {
  width: 100%;
  height: auto;
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column .connect-with-us-container-image .centered-text-complaints {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column .mainHeding-1 {
  color: #000000;
  margin: 1rem 0rem ;
  text-align: left;
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column .colored {
  color: #ea0b4b;
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column .bold {
  font-weight: 600;
}
.complaints-grieviences .connect-container .connect-row .connect-with-us-column .level-btn {
  margin: 1rem 0rem 2rem 0rem;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .complaints-grieviences .connect-container {
    padding: 0px;
  }
  .complaints-grieviences .connect-container .connect-row .connect-with-us-column {
    border-left: none;
  }
  .complaints-grieviences .connect-container .connect-row .connect-with-us-column .connect-dropdown {
    margin: 4rem 0rem 7rem 0rem;
  }
  .complaints-grieviences .connect-container .connect-row .connect-with-us-column .connect-with-us-container-image {
    position: relative;
  }
  .complaints-grieviences .connect-container .connect-row .connect-with-us-column .connect-with-us-container-image .connect-with-us-image {
    width: 100%;
    height: auto;
  }
  .complaints-grieviences .connect-container .connect-row .connect-with-us-column .connect-with-us-container-image .centered-text-complaints {
    top: 50%;
    text-align: center;
    left: 49%;
    right: -33%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
