.my-account-changes {
  font-family: Nunito;
  text-align: center;
  color: #808080;
}
.my-account-changes .please-share-otp-text {
  font-size: 14px;
}
.my-account-changes .SubmitButton {
  margin: 2rem 0rem;
}
