.MyAccount .mui-container-fluid {
  overflow-x: hidden;
  padding-top: 0px;
}
.MyAccount .mui-container-fluid .rightpanel {
  background-color: #f3f5fb;
  padding: 0;
  margin-top: 4rem;
}
.MyAccount .mui-container-fluid .no-member {
  padding: 0;
}
.MyAccount .mui-container-fluid .rightcard {
  padding: 0;
}
.MyAccount .mui-container-fluid .ChatDiv {
  width: 56px;
  height: 56px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
  background-color: #ea0b4b;
  border-radius: 50%;
  float: right;
  margin-top: 35rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader {
  margin: 1rem 0rem 1rem 0rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .imageUser {
  margin: 1rem 0rem 0rem 0rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .max-size {
  font-size: 10px;
  text-align: center;
  color: #808080;
  margin: 0.5rem 0rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .left-column {
  padding-right: 0;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .right-column {
  padding-left: 0;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .upload-btn {
  margin-top: 0.5rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .MyAccount {
  font-family: Nunito;
  font-size: 18px;
  color: #808080;
  text-decoration: none;
  margin: 2rem 0rem 0rem 1rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .ChangePassword {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  color: #ea0b4b;
  text-decoration: underline;
  margin: 2rem 0rem 0rem 2rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .MyAccountText {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  color: #ea0b4b;
  text-decoration: underline;
  text-align: left;
  background-color: #f3f5fb;
  margin: 2rem 0rem 0rem 1rem;
}
.MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .ChangePasswordContainer {
  font-family: Nunito;
  font-size: 18px;
  color: #808080;
  margin: 2rem 0rem 0rem 2rem;
}
.MyAccount .mui-container-fluid .changePasswordPanel {
  margin-left: 3rem;
}
.MyAccount .mui-container-fluid .MyAccountContainer {
  background-color: #f3f5fb;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
.MyAccount .mui-container-fluid .LeftFieldContainer {
  margin-bottom: 2rem;
}
.MyAccount .mui-container-fluid .RightFieldContainer {
  margin-bottom: 2rem;
}
.MyAccount .mui-container-fluid .EditDetailButton {
  margin: 2rem 0rem 0rem 0rem;
  padding-bottom: 2rem;
}
.MyAccount .mui-container-fluid .CancelButton {
  margin-top: 1rem;
  text-align: right;
}
.MyAccount .mui-container-fluid .ButtonSave {
  margin: 2rem 0rem 3rem 0rem;
  text-align: left;
}
.MyAccount .mui-container-fluid .SavePasswordButton {
  margin: 2rem 3rem 3rem 3rem;
  padding-bottom: 7rem;
}
.button_account_row {clear:both; margin:0 0 50px;}
.MyAccount .button_account_row .ButtonSave {margin:0;}
.MyAccount .button_account_row .CancelButton {margin:0;}
@media screen and (max-width: 767px) {
  .MyAccount {
    margin-top: 0px;
  }
  .MyAccount .mui-container-fluid .rightpanel {
    padding: 0px;
    background-color: #ffffff;
  }
  .MyAccount .mui-container-fluid .no-member {
    padding: 0px 0px 5px 0px;
  }
  .MyAccount .mui-container-fluid .ChatDiv {
    width: 56px;
    height: 56px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    background-color: #ea0b4b;
    margin-bottom: 3rem;
    border-radius: 50%;
    float: right;
    margin-top: 0rem;
  }
  .MyAccount .mui-container-fluid .MyAccountChangePasswordHeader {
    margin: 3rem 0rem 2rem -0.8rem;
  }
  .MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .imageUser {
    margin: 1rem 0rem 0rem 0.3rem;
  }
  .MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .MyAccount {
    margin: 2rem 0rem 0rem 0rem;
  }
  .MyAccount .mui-container-fluid .MyAccountChangePasswordHeader .MyAccountText {
    margin: 2rem 0rem 0rem 2rem;
    background-color: #ffffff;
  }
  .MyAccount .mui-container-fluid .ButtonSave {
    margin: 2rem 0rem 2rem 0rem;
  }
  .MyAccount .mui-container-fluid .MyAccountContainer {
    background-color: #ffffff;
    margin: 0rem 0rem 0.5rem 0rem;
  }
  .MyAccount .mui-container-fluid .changePasswordPanel {
    margin-left: 0rem;
  }
  .MyAccount .mui-container-fluid .SavePasswordButton {
    padding-bottom: 0rem;
  }
}
