.owner-detail-parent {
    .owner-details-heading{
        font-family: Nunito;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9c0f46;
        margin: 0;
    }
    .step-detail-success{
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ea0b4b;
        float: right;
        margin-top: -20px;
    }
    .button-next{
        text-align: center;
    }

    .fixed-width-fn{
        width: 124px;
    }
    .fixed-width-mn{
        float: right;
        width: 124px;
    }
    .fixed-width-ln{
        width: 124px;
        display: block;
    }


    .owner_show_details{
        .step-detail{
            font-family: Source Sans Pro;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ea0b4b;
            margin: 0;
        }
        .owners-heading{
            font-family: Nunito;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            margin: 0;
        }
        .key-name{
            font-family: Source Sans Pro;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #808080;
        }
        .key-value{
            font-family: Source Sans Pro;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .edit{
            font-family: Source Sans Pro;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #0da176;
            cursor: pointer;
            margin-bottom: 0;
        }
    }
}

@media screen and(max-width: 767px){
    .owner-detail-parent{
        .owner_show_details{
            .step-detail{
                margin-bottom: 0;
            }
            .edit{margin-bottom: 0;}
            table {
                width: 100%;
            }
        
            table tbody tr td:first-child {
                font-family: Source Sans Pro;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #808080;
                white-space: nowrap;
                padding: 4px 0px;
            }
            table tbody tr td:last-child {
                font-family: Source Sans Pro;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: #000000;
            }
        }
    }
}