.connect-with-us-heading {
  color: #333333;
  margin: 1rem 0rem;
}
.contact-us-text {
  color: #aaaaaa;
  margin: 1rem 0 1rem 0rem;
}
.share-your-feedback {
  color: #333333;
  margin: 1rem 0rem;
}
.complaints {
  color: #aaaaaa;
  margin: 0rem 0 0 3.8;
}
.grievances {
  color: #aaaaaa;
  margin: 0rem 4.4rem 1rem 4.4rem;
}
@media screen and (max-width: 767px) {
  .contact-us-text {
    margin: 1rem 0rem 1rem 0rem;
  }
  .complaints {
    margin: 0rem 0rem;
  }
  .grievances {
    margin: 0rem 4.4rem 1rem 4.4rem;
  }
}
