.feedback{
  overflow-x: hidden;
  text-align: right;
}
.connect-container {
  padding: 0px;
}
.righ_contact_col{
  border-left: solid 4px #808080;
}
 
.connect-with-us-container-image {
  position: relative;
}
.connect-with-us-image {
  width: 100%;
  height: auto;
}
.centered-text-feedback{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 49%;
    text-align: center;
    transform: translate(-50%, -50%);
}


.we_all_need_people {
    font-family: Nunito;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 4rem;
}
.feedback_share {
  font-family: Nunito;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  margin:1rem 1rem;
}
.feedback_div{
  text-align: left;
  margin:0rem 1rem;
}

.sfa {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ea0b4b;
  text-align: left;
}

.fvpn {
    font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ea0b4b;
  float: right;
}

.poyf {
    margin-top: 2.5rem;
    text-align: left;
}
.poyf-1{
  margin-top: 5rem;
  text-align: left;
}
.feedback_heading {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  padding:1rem 0rem;
}

.feedback_heading-2 {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  padding:2rem 0rem;
}


.syv_heading {
    font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.feedback_em_ph_btn_div {
  padding-top: 0.5rem; 
}
.feedback_em_ph_btn_div button:disabled { background: #ccc}
.button_submit_feedback {margin-top: 1rem; margin-bottom: 3rem;  position: relative;}
.button_submit_feedback .loading {width:100%; background: #fff; opacity: 0.5; height:38px; position: absolute;}

@media screen and (max-width: 767px) {

  .contact_recommend_other_div {
    padding: 2px 16px 2px 25px;
  }
  .feedback_em_ph_btn_div {
    padding-top: 0.5rem; 
    margin-left: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .righ_contact_col{
    border-left: none;
  }
  .connect-with-us-image{
    width:100%;
    height:auto;
  }
  .contact_recommend_other_div {
    padding: 0px;
  }
  .centered-text-feedback{
    color: #ffffff;
    position: absolute;
    top: 59%;
    left: 50%;
    right: -10rem;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .feedback {text-align:left}
}