.get-discount-popup{
    .get-discount-table-form{
        table{
            width: 100%;
            tbody {
                tr{
                    td{
                        p {
                            font-size: 50px;
                            img{
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}