.search-container {
  padding: 2rem 6rem 6rem 6rem;
  font-family: Nunito;
  text-align: center;
}
.search-container .search-result-page-heading {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #333333;
  text-align: center;
}
.search-container .result-info-heading {
  font-size: 30px;
  color: #333333;
  margin-top: 1rem;
  text-align: left;
}
.search-container .result-link {
  font-size: 20px;
  color: #0da176;
  text-align: left;
}
.search-container .result-description {
  font-size: 18px;
  color: #000000;
  text-align: left;
}
.search-container .divider {
  margin: 1rem 0rem;
}
.search-container .pagination {
  display: inline-block;
}
.search-container .pagination .paginationNumber {
  margin: 0rem 1rem;
}
.search-container .result-not-found-image {
  margin: 5rem 0rem 2rem 0rem;
  display: inline-block;
}
.search-container .result-not-found-image .not-found-result {
  width: 100%;
  height: auto;
}
.search-container .result-row .result-column .no-record {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.search-container .result-row .result-column .unable-to-search {
  font-size: 12px;
  color: #000000;
  margin: 1rem 0rem;
}
.search-container .result-row .result-column .button-edit-input {
  margin: 3rem 0rem;
}
@media screen and (max-width: 767px) {
  .search-container {
    padding: 0rem;
  }
  .search-container .search-result-page-heading {
    margin: 2rem 0rem;
    font-size: 26px;
  }
  .search-container .result-info-heading {
    font-size: 26px;
  }
  .search-container .result-link {
    font-size: 18px;
    word-break: break-all;
  }
  .search-container .result-description {
    font-size: 18px;
    color: #000000;
    text-align: left;
  }
  .search-container .result-row .result-column .button-edit-input {
    margin: 3rem 0rem;
  }
}
