@charset "UTF-8";
.parent-proposal-from-motor .sub-header {
  margin-bottom: 1rem;
}

.parent-proposal-from-motor .sub-header .mui-panel ul {
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
}

.parent-proposal-from-motor .sub-header .mui-panel ul li {
  display: inline;
  font-family: Nunito;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 4px 145px;
}

.parent-proposal-from-motor .sub-header .mui-panel {
  padding: 0px;
}

.parent-proposal-from-motor .proposal-form-body {
  margin: 0 30px;
}

.parent-proposal-from-motor .proposal-form-body .back-link {
  font-family: Nunito;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.parent-proposal-from-motor .proposal-form-body .car-quote-details-heading {
  font-family: Nunito;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.parent-proposal-from-motor .proposal-form-body .stepper-headings p {
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: inline-block;
}

.parent-proposal-from-motor .proposal-form-body .stepper-headings p.active-success {
  color: #000000;
}

.parent-proposal-from-motor .proposal-form-body .stepper-headings p.disable {
  color: #808080;
}

.parent-proposal-from-motor .proposal-form-body .stepper-headings p:not(:last-child):after {
  content: '───';
  color: #979797;
}

.parent-proposal-from-motor .proposal-form-body .small-guide-line {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  letter-spacing: normal;
  color: #000000;
}

.parent-proposal-from-motor .licenced_no {
  font-family: Nunito;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin-top: 4px;
}

.parent-proposal-from-motor .rectangle {
  width: 46px;
  height: 55px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  display: inline-block;
  margin: 0px 6px;
}

@media screen and (max-width: 767px) {
  .parent-proposal-from-motor {
    overflow: hidden;
  }
  .parent-proposal-from-motor .proposal-form-body {
    margin: 0;
  }
  .parent-proposal-from-motor .proposal-form-body .car-quote-details-heading {
    margin: 15px;
  }
  .parent-proposal-from-motor .proposal-form-body .back-link {
    margin: 15px;
  }
  .parent-proposal-from-motor .proposal-form-body .stepper-headings {
    margin: 0 15px;
  }
  .parent-proposal-from-motor .proposal-form-body .small-guide-line {
    margin: 0px 15px 15px 15px;
  }
  .parent-proposal-from-motor .proposal-form-body .total-premium-heading {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    display: inline-block;
  }
  .parent-proposal-from-motor .proposal-form-body .total-premium-heading span {
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0da176;
  }
  .parent-proposal-from-motor .proposal-form-body .details-addon {
    font-family: Source Sans Pro;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    float: right;
    display: inline-block;
    margin-top: 0px;
  }
  .parent-proposal-from-motor .proposal-form-body .amount-year {
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .parent-proposal-from-motor .proposal-form-body .amount-year sup {
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .parent-proposal-from-motor .proposal-form-body .cover-value {
    font-family: Source Sans Pro;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
  }
}
/*# sourceMappingURL=proposal-form.css.map */