.forgot-password-parent {
    background: #f4f4f4;
    padding-top: 115px;
    padding-bottom: 145px;
    margin-top: 0.1px;
    .panel-forgot{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .img-side {
        background: #f7f7f7;
    }

    .forgot-password-img{
        text-align: center;
        margin-bottom: 86.3px;
    }

    .forgot-h4{
        margin-top: 67px;
        margin-bottom: 165.2px;
    }
    .right-forgot-h5{
        margin-top: 67px;
    }
    .note-right {
        color: #808080;
    }
    .forgot-password-form{
        margin-top: 146px;
    }
    .submit-button{
        margin-top: 39px;
    }
}

@media screen and (max-width: 767px) {
    .forgot-password-parent {
        background: #ffffff;
        padding-top: 86px;

        .forgot-password-form{
            margin-top: 111px;
        }
    }
    
}