.Login {
  background-color: #f4f4f4;
}
.Login .mui-container-fluid {
  
  padding:2rem 0;
  text-align: center; max-width:1170px;
}
.Login .mui-container-fluid .firstCard {
  background-color: #f7f7f7;
  padding: 3rem 0rem 3rem 0rem;
}
.Login .mui-container-fluid .firstCard .welcome {
  font-family: Nunito;
  font-size: 34px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: inline-block;
}
.Login .mui-container-fluid .loginPic {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  padding: 0rem 4rem 0rem 4rem;
}
.Login .mui-container-fluid .title {
  margin-top: 3rem;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: inline-block;
}
.Login .mui-container-fluid .account {
  font-family: Nunito;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #808080;
  margin: 1rem 4rem;
}
.Login .mui-container-fluid .MuiFormControl-root-29 {
  margin-top: 2rem;
}
.Login .mui-container-fluid .forgot {
  font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  float: left;
  margin-top: 1rem;
}
.Login .mui-container-fluid .otp {
  font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  float: right;
  margin-top: 1rem;
}
.Login .mui-container-fluid .button {
  margin-top: 3rem;
}
.Login .mui-container-fluid .terms {
  margin-top:1rem;
  font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}
.Login .mui-container-fluid .terms .termSpan {
  color: #333333;
}
@media screen and (max-width: 1195px) {
  .Login {
    background-color: #f4f4f4;
  }
  .Login .mui-container-fluid {
    overflow-x: hidden;
    padding: 6rem 0rem 0rem 0rem;
    text-align: center;
  }
  .Login .mui-container-fluid .terms {
    margin-top: 1rem;
  }
  .Login .mui-container-fluid .account {
    margin: 1rem 0rem;
  }
}
/* .Login .mui-container-fluid .textField {border-bottom:2px solid green} */
.Login .mui-container-fluid .textField div::after {border-bottom:2px solid #ea0b4b}

@media screen and (max-width: 767px) {
  .Login {
    background-color: #f4f4f4;
  }
  .Login .mui-container-fluid {
    overflow-x: hidden;
    padding: 0rem 0rem 0rem 0rem;
    text-align: center;
  }
  .Login .mui-container-fluid .terms {
    margin-top: 0rem;
  }
  .Login .mui-container-fluid .textField {
    padding-right: 0rem;
  }
 
  .Login .mui-container-fluid .terms {
    margin: 1rem 0rem 3rem 0rem;
  }
  .Login .mui-container-fluid .account {
    margin: 1rem 0rem;
  }
}
