.proposal-pdf {
  margin-top: 10px;
  overflow-x: hidden;
  margin: 1rem 15rem;
}
.proposal-pdf .proposal-pdf-container {
  border: 1px solid #000000;
  padding: 1rem;
}
.proposal-pdf .proposal-pdf-container .GBlogo1 {
  width: 42px;
  height: 2.8rem;
}
.proposal-pdf .proposal-pdf-container .GBlogo2 {
  width: 120px;
  height: 1.8rem;
}
.proposal-pdf .proposal-pdf-container .proposal-form-heading {
  font-weight: 900;
  color: #000000;
  margin-top: 1rem;
}
.proposal-pdf .proposal-pdf-container .main-heading {
  color: #000000;
  margin: 1rem 0rem;
}
.proposal-pdf .proposal-pdf-container .policy-column {
  padding: 0;
}
.proposal-pdf .proposal-pdf-container .key {
  color: #808080;
  margin: 0.5rem 0rem 0rem 0rem;
}
.proposal-pdf .proposal-pdf-container .value {
  color: #000000;
  margin: 0rem 0rem 0.5rem 0rem;
}
.proposal-pdf .proposal-pdf-container .below-text {
  color: #000000;
  margin: 1rem 0rem;
}
.proposal-pdf .proposal-pdf-container .midtext {
  text-align: center;
}
.proposal-pdf .proposal-pdf-container .ensure-claim {
  color: #ea0b4b;
  margin: 1rem 0rem;
}
.proposal-pdf .proposal-pdf-container .medical-query {
  color: #000000;
}
@media screen and (max-width: 667px) {
  .proposal-pdf {
    margin: 0rem;
  }
  .proposal-pdf .proposal-pdf-container {
    margin-top: 1rem;
  }
}
