.payment-summary-div {
    
    margin-top: 1rem;

    .insurer-name {
        font-family: Nunito;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }

    .rating-text {
        font-family: Nunito;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0;
        letter-spacing: normal;
        color: #808080;
        margin-top: -8px;

        span {
            color: #000000;
        }
    }
    .plain-details-heading {
        font-family: Nunito;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0da176;
        float: right;
    }
    .total-premium {
        font-family: Nunito;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        float: right;
        margin-top: 15px;
    }
    .payment {
        font-family: Nunito;
        font-size: 21px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        float: right;

        span {
            font-size: 10.5px;
        }
    }
    .gb-message {
        font-family: Source Sans Pro;
        font-size: 8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        float: right;
        color: #940016;
        display: block;
    }

    .addons {

        .addons-heading {
            font-family: Source Sans Pro;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            margin: 0 0 12px 0px;
        }
        .addon-name {
            font-family: Source Sans Pro;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            width: 195px;
            text-overflow: clip;
            display: inline-block;
        }
        .dots {
            border-bottom: #808080 1px dashed;
            width: 180px;
            display: inline-block;
            margin-bottom: -0px;
        }
        .price {
            font-family: Source Sans Pro;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            display: inline-block;
        }

        .package-premium{
            font-family: Source Sans Pro;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            width: 126px;
            display: inline-block;
        }

        .dots-premium-package {
            border-bottom: #808080 1px dashed;
            width: 250px;
            display: inline-block;
            margin-bottom: -0px;
        }
        .gst {
            width: 70px;
            display: inline-block;
            font-family: Source Sans Pro;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
        }
        .dots-gst {
            border-bottom: #808080 1px dashed;
            width: 306px;
            display: inline-block;
            margin-bottom: -0px;
        }
        .total-premium-next {
            width: 100px;
            display: inline-block;
            font-family: Source Sans Pro;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
        }
        .dots-total {
            border-bottom: #808080 1px dashed;
            width: 230px;
            display: inline-block;
            margin-bottom: -0px;
        }
    }
    .full-premium {
        font-family: Nunito;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0da176;
        float: right;
    }
    table {
        width: 100%;
    }

    table tbody tr td:first-child {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #808080;
        white-space: nowrap;
        padding: 4px 0px;
    }
    table tbody tr td:last-child {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
    }

    .final-summary {
        font-family: Nunito;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        display: inline-block;
    }

    .v_e_action {
        font-family: Nunito;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        float: right;
        color: #0da176;
        display: inline-block;
    }
    .final-summary-div {
        margin-top: 12px;
        padding: 12px 0px 2px 0px;
        border-bottom: 1px solid #aaaaaa;
        border-top: 1px solid #aaaaaa;
    }
}

@media screen and (max-width: 767px) {
    .payment-summary-div {
        .insurer-name{
            font-size: 13px;
        }
        .payment {
            margin-top: 3rem;
            font-size: 13px;
        }
        .addons{
            .addon-name{
                font-size: 14px;
                width: 174px;
            }
            .dots {
                width: 95px;
            }
            .price{
                font-size: 14px;
            }
            .package-premium{
                font-size: 14px;
                width: 110px;
            }
    
            .dots-premium-package {
                width: 160px;
            }
            .gst {
                width: 50px;
                font-size: 14px;
            }
            .dots-gst {
                width: 220px;
            }
            .total-premium-next {
                font-size: 14px;
                width: 86px;
            }
            .dots-total {
                width: 150px;
            }
        }
        .v_e_action {
            display: none;
        }
        .final-summary-div{
            .final-summary{
                span{
                    font-family: Nunito;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: right;
                    color: #0da176;
                }
            }
        }
    }
}